/* Importing fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap");

/* Global styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Styles for the body element */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(https://static.vecteezy.com/system/resources/previews/003/452/115/original/wildlife-elk-in-forest-nature-landscape-illustration-free-vector.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
}

/* Styles for the wrapper container */
.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

/* Styles for the h1 heading inside the wrapper */
.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

/* Styles for the input box container */
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

/* Styles for the input field inside the input box */
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

/* Styles for the placeholder text of the input field */
.input-box input::placeholder {
  color: #fff;
}

/* Styles for the icon inside the input box */
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

/* Styles for the "remember me" and "forgot password" section */
.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

/* Styles for the checkbox input inside the "remember me" section */
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

/* Styles for the links inside the "remember me" section */
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

/* Hover styles for the links inside the "remember me" section */
.remember-forgot a:hover {
  text-decoration: underline;
}

/* Styles for the button */
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

/* Styles for the "register" link */
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

/* Styles for the "register" link text */
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

/* Hover styles for the "register" link */
.register-link p a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #063970;
  text-decoration: none;
  font-weight: 600;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #063970;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}
